<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Exam</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #222;
        border-color: #080808;
        color: white;
        text-align: center;
    }
    
    .container {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;
    }
    
    .navbar {
        border: none;
    }
</style>

<body>

    <header id="header">
        <div class="container">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="index.php" style="font-weight: 600;">SanSoft</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="index.php">Home</a></li>
                        <li><a href="index.php?page=userForm">User Form</a></li>
                        <li style="margin-top: 8px;">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Working with Database
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="index.php?page=connect">Check connection</a></li>
                                    <li><a href="index.php?page=showallusers">Show all users</a></li>
                                    <li><a href="#">JavaScript</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right ">
                        <li><a href="# "><span class="glyphicon glyphicon-user "></span> Sign Up</a></li>
                        <li><a href="# "><span class="glyphicon glyphicon-log-in "></span> Login</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>